---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
import LinkedInIcon from "../components/icons/LinkedInIcon.astro";
import GitHubIcon from "../components/icons/GitHubIcon.astro";
import SocialPill from "../components/SocialPill.astro";
import MailIcon from "../components/icons/MailIcon.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Briefcase from "../components/icons/Briefcase.astro";
---

<Layout
	title="Portfolio de Anceldev - Desarrollador web y m贸vil"
	description="Contrata a anceldev para crear tu aplicaci贸n web o m贸vil."
>
	<main>
		<SectionContainer class="py-44 pb-24">
			<h1
				class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4"
			>
				Hey, soy Anceldev
				<a
					href="https://www.linkedin.com/in/ancel-guarayo-9b5b95267/"
					target="_blank"
					rel="noopener"
					class="flex justify-center items-center"
				>
					<Badge>Disponible para trabajar</Badge>
				</a>
			</h1>
			<h2 class="text-2xl text-wrap">
				<span class="text-yellow-200/90"
					>Desarrollador m贸vil junior</span
				>.
				<span class="text-red-200/90"> De Valladolid, Espa帽a </span>.
				<span class="opacity-85"
					>Entusiasta del desarrollo del aplicaciones</span
				>.
			</h2>
			<nav class="flex gap-x-4 mt-8">
				<SocialPill
					href="https://www.linkedin.com/in/ancel-guarayo-9b5b95267/"
				>
					<LinkedInIcon class="size-6" />
					LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/anceldev">
					<GitHubIcon class="size-6" />
					GitHub
				</SocialPill>
				<SocialPill href="mailto:aguarayo@gmail.com">
					<MailIcon class="size-6" />
					aguarayo@gmail.com
				</SocialPill>
			</nav>
		</SectionContainer>
		<SectionContainer id="experience">
			<h2 class="flex text-2xl font-semibold mb-6 gap-x-3 items-center">
				<Briefcase class="size-8"/>
				Experiencia laboral
			</h2>
			<Experience />
		</SectionContainer>
	</main>
</Layout>
