<header class="flex justify-between mx-auto items-center py-5 w-[1120px]">
    <img 
    class="rounded-full size-12"
    src="../../public/assets/photo.jpeg" 
    alt="anceldev photo" 
    />
    <nav class="flex flex-row gap-x-10 opacity-90">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </nav>
</header>