---

---

<header class="flex justify-between mx-auto items-center py-5 w-full xl:w-[1120px]">
    <!-- <img 
    class="rounded-full size-12"
    src="../../public/assets/profile.jpeg" 
    alt="anceldev"
 
    /> -->
    
    <nav class="flex flex-row gap-x-10 opacity-90">
        <a href="#top">Home</a>
        <a href="#about">About</a>
        <a href="#experience">Experience</a>
        <a href="#projects">Projects</a>
        <a href="#contact">Contact</a>
    </nav>
</header>